.App {
  text-align: center;
}
.logo {
  /* width: 35%; */
}
img.start {
  width: 15%;
}
span.text {
  font-size: 27px;
  color: #b6057e;
}
.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.quesCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5% auto 10% auto;
  width: max-content;
  padding: 1rem;
  max-width: fit-content;
  background: #ffff8c;
}
.answerWrap {
  /* width: 46%;
  padding: 1%;
  margin: 3% 2%; */
  width: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  float: left;
}
.leftPull {
  float: left;
}
.noPadding {
  padding: 0%;
}
.pad1 {
  padding: 20% 0%;
}
.spanOption {
  float: left;
  margin-left: 2rem;
}
.row {
  margin: 0px;
}
.bg-green {
  background-color: rgb(96, 219, 96);
}
.bg-red {
  background-color: rgb(245, 40, 40);
}
.bg-lightBlue {
  background: #c3d2ed;
}
.navWrap {
  clear: both;
  justify-content: flex-end;
}
span.gamePoints {
  justify-self: flex-end;
  color: orange;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.statistics {
  justify-content: space-evenly;
  background: #b6f1b6;
}

.setMargin {
  margin: 2%;
}
.btn-primary:disabled {
  color: #fff;
  background-color: #b7bdc3;
  border-color: #007bff;
}
pre {
  white-space: unset;
}

.bottomPadding {
  padding-bottom: 1em;
}
li.hometabs {
  text-align: justify;
  padding-left: 27%;
  margin: 3% 0%;
  list-style: none;
}
